# Node
node_modules

# Build
.output
.nitro
.tanstack

# [Environment](https://vite.dev/guide/env-and-mode.html#env-files)
.env
.env.local
.env.*.local

# MacOS
.DS_Store

*storybook.log
storybook-static
